In [1]:
import pandas as pd

# Series

In [3]:
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
index = ['Linha' + str(i) for i in range(5)]
s =pd.Series(data = data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [8]:
data = {'Linha' + str(i) : i + 1 for i in range(5) }
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [10]:
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [11]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]

In [13]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [16]:
index = ['Linha' + str(i) for i in range(3)]
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [18]:
columns = ['Coluna' + str(i) for i in range(3)]
df2 = pd.DataFrame(data = data, index = index, columns = columns)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [20]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]
df3 = pd.DataFrame(data = data, index = index, columns = columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [21]:
df1[df1 > 0] = 'A'
df1

        0  1  2
Linha0  A  A  A
Linha1  A  A  A
Linha2  A  A  A

In [22]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [23]:
df4 = pd.concat([df1, df2, df3])
df4

          0    1    2 Coluna0 Coluna1 Coluna2
Linha0    A    A    A     NaN     NaN     NaN
Linha1    A    A    A     NaN     NaN     NaN
Linha2    A    A    A     NaN     NaN     NaN
Linha0  NaN  NaN  NaN       B       B       B
Linha1  NaN  NaN  NaN       B       B       B
Linha2  NaN  NaN  NaN       B       B       B
Linha0  NaN  NaN  NaN       1       2       3
Linha1  NaN  NaN  NaN       4       5       6
Linha2  NaN  NaN  NaN       7       8       9

In [24]:
df4 = pd.concat([df1, df2, df3], axis = 1)
df4

        0  1  2  Coluna0  Coluna1  Coluna2  Coluna0  Coluna1  Coluna2
Linha0  A  A  A        B        B        B        1        2        3
Linha1  A  A  A        B        B        B        4        5        6
Linha2  A  A  A        B        B        B        7        8        9